@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.main-container {
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 9px;
}
#timer {
    font-size: 4em;
    text-align: center;
    margin-bottom: 10px;
}
.buttons {
    text-align: center;
}
#start-button, #delete-button, #pause-button {
    font-size: 2em;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 3px black;
/*     padding: 5px; */
    margin: 0px 10px;
    transition: all .2s;
}
.bi {
    padding: 10px;
    display: inline-block;
}
#start-button {
    color: green;
    background-color: white;
}
#start-button:hover {
    color: white;
    background-color: green;
    cursor: pointer;
}
#start-button:active, #delete-button:active, #pause-button:active {
    transform: scale(0.8);
}
#pause-button {
    color: orange;
    background-color: white;
}
#pause-button:hover {
    color: white;
    background-color: orange;
    cursor: pointer;
}
#delete-button {
    color: crimson;
    background-color: white;
}
#delete-button:hover {
    color: white;
    background-color: crimson;
    cursor: pointer;
}
